footer {
    width: 90vw;
    height: 4rem;
    background: var(--color-blue-extraDark);
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    margin-left: 5vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
}